/* *{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
} */

nav{
    /* background-color: aqua; */
    font-family: 'Lato', sans-serif;
}

body{
    /* #947cce */
    /* #47435f */
    /* #2a233f */
    /* #120f1c */

    background-image: linear-gradient(#120f1c 70%,#2a233f , #47435f , #6b5a92 );
}



.navegacao{
    font-family: 'Lato', sans-serif;
    padding: 15px;
    
}

.item-navegacao{
    font-family: 'Lato', sans-serif;
    
}

.itens-esquerda{
    font-family: 'Lato', sans-serif;
    
}

.itens-direita{
    font-family: 'Lato', sans-serif;

}

h1{
    font-family: 'Lato', sans-serif;
    font-size: 90px;
}

h3{
    font-family: 'Lato', sans-serif;

}
.coll2{
    /* //background-color: blue; */
    font-family: 'Lato', sans-serif;
}


footer{
    font-family: 'Lato', sans-serif;
    padding: 2%;
}
